body{
    background-image: ('../img/pattern.jpg');
    margin: 0px;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
}
li{
    display: inline;
    margin: 5px;
}
a{
    text-decoration: none;
}
a:hover{
    color: green;
}
main{
    background-color: white;
    margin: 30px 100px 40px;
    padding: 30px;
}
h1{
    text-align: CENTER;
}
article{
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}